<h1><%= image_tag "logo.png", :style => "width:100px;vertical-align:middle; margin-right:10px;" %>tracker</h1>

<br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.email_field :email, :placeholder => "Enter email id" %></div>

    <div><%= f.password_field :password, :placeholder => "Enter password" %></div>
    <br>
    <div><%= f.submit "Sign in", :class => "btn btn-primary btn-large" %></div>
<% end %>

