<!DOCTYPE html>
<html>
<head>
  <title>Ptotem Ptracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      body {
          padding-top: 20px; /* When using the navbar-top-fixed */
      }
  </style>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span6">
      <h1><%= image_tag "logo.png", :style => "width:80px;margin-right:5px;" %>tracker</h1>

      <p class="lead" style="margin-left: 10px;">The Project Management System</p>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="/">Home</a></li>
      <% if current_user.role=="Projects" %>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/assignments">Assignments</a></li>
          <li><a href="/users">Developers</a></li>
      <% end %>
      <li><a data-backdrop="static" data-toggle="modal" href="#history">History</a></li>
      <li class="pull-right"><%= link_to "Logout", destroy_user_session_path, :method => "delete" %></li>
    </ul>
  </div>
  <div class="row">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>

<div class="modal hide fade" id="history">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3>History</h3>
  </div>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th>Task</th>
        <th>Competence</th>
        <th>Duration</th>
      </tr>
      <% current_user.tasks.where(complete: true).each do |t| %>
          <tr>
            <td><%= t.full_name %></td>
            <td><%= t.competences.map { |c| c.name }.join(", ") %></td>
            <td><%= t.duration %> days</td>
          </tr>
      <% end %>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function (e) {
        $('FORM').nestedFields();
        jQuery(".best_in_place").best_in_place();
    });
</script>
</body>

</html>
